<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Restaurant Creation</title>
  </head>

  <body>
    <form method="post" action="/restaurants" >
      <label>Create new Restaurant: <input type="text" id="name" name="name"/></label><br/>
      <label>Rating: <input type="text" id="rating" name="rating"/></label><br/>
      <label>Address: <input type="text" id="address" name="address"/></label><br/>
      <input type="submit" id="Submit">
    </form>

  </body>
</html>
